[% start_year=2016 %]
=encoding UTF-8

=head1 NAME

Image::Similar - abstract here.

=head1 SYNOPSIS

    use Image::Similar;

=head1 VERSION

This documents version [% version %] of Image::Similar corresponding to git
commit [% commit.commit %] released on [% commit.date %].

=head1 DESCRIPTION

=head1 FUNCTIONS

=cut
[% INCLUDE "author" %]
