[% start_year=2016 %]
=encoding UTF-8

=head1 NAME

Image::Similar - find out how similar two images are

=head1 SYNOPSIS

    use Image::Similar;

=head1 VERSION

This documents version [% version %] of Image::Similar corresponding to git
commit [% commit.commit %] released on [% commit.date %].

=head1 DESCRIPTION

Compare two images.

=head1 FUNCTIONS

=head2 load_image

Using L<Imager>:

    my $img = Imager->new ();
    $img->read (file => 'my.jpg');
    my $is = load_image ($img);

The return value is an Image::Similar object.

=head1 METHODS

=head2 new

    my $is = Image::Similar->new (height => 10, width => 10);

This is no use at the moment, use L</load_image> instead.

=head2 diff

    my $diff = $is1->diff ($is2);

Find the difference between images C<$is1> and C<$is2>.

=head1 SEE ALSO

=over

=item L<Image::Libpuzzle>

This uses a similar algorithm to Image::Similar, but it requires
installing a third-party library called libpuzzle, as well as the gd
library.

=back

[% INCLUDE "author" %]
